::root {
	/* Primary colors */
	--softblue: ;
	--cyan: hsl(178, 100%, 50%);

	/* Neutral colors */
	--lineColor: ;
}

body {
	margin: 0;
	padding: 0;
	font-family: Outfit;
	height: 100vh;
	background-color: hsl(217, 54%, 11%);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Settings for small devices first */
.card {
	background-color: hsl(216, 50%, 16%);	
	color: hsl(215, 51%, 70%);
	width: 90%;
	height: 95%;
	border-radius: 10px;
	margin: 20vmin 7vmin;
	padding: 3vmin;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	box-shadow: 2px 2px 20px hsl(217, 54%, 9%), -2px -2px 20px hsl(217, 54%, 9%);
	transition: 0.3s;
}

.card:hover {
	color: hsl(178, 100%, 50%);
	transform: scale(1.1);
	cursor: pointer;
}

.cardPreviewImage {
	max-width: 100%;
	border-radius: inherit;
}

.cardDescription h4 {
	color: white; 
}

.cardValues {
	display: flex;
	justify-content: space-between;
	height: 10px;
}

.ethereum {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
}

.timeLeft {
	font-weight: 400;
}

hr { color: hsl(215, 32%, 27%); 
	width: 100%;
}

.cardAuthorInformation {
	display: flex;
	align-items: center;
}

.cardAuthorInformation img {
	width: 10%;
	border: 1px solid white;
	border-radius: 50%;
	margin-right: 3vmin;
}
/* Settings for larger devices */
@media screen and (min-width: 600px) {
	.card {
		width: 20%;
		height: 70%;
	}
	hr { margin: 3vmin 0; }
}
